* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: #444;
}

body {
  background: linear-gradient(90deg, rgba(3,172,243,1) 0%, rgba(37,66,158,1) 100%);
}

.cart {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 45em;
  background-color: #fff;
  margin: 2em 0;
  border-radius: 1em;
}

.cart h1 {
  text-align: center;
  padding-top: 1.5em;
  color: #444;
}

.cart p, .cart a {
  text-align: center;
  margin-top: 1em;
  font-size: 18px;
}

.cart a {
  color: #03ACF3;
}

.cart a:hover {
  color: #25429E;
}

