
* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover{
  color: #92DCB5;
  text-decoration: underline;
}

body {
  font-family: 'Open Sans', sans-serif;
}



/* header */

header {
  background:#fff;
  padding: 1em 0;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 80%;
  margin-left: 10%;
}

.div-search input {
  background-image: url('/assets/search.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1em;
  background-color: #c4edd8;
  padding-left: 3em;  
  position: left;
  background-size: 17px;
  border: 2px solid #92DCB5;
  border-radius: 25px;
  height: 35px;
  width: 40em;
  outline: none;
}

.div-search input:focus {
  border: 2px solid #4fc98a;
}

nav a {
  font-size: 16px;
  color: #444;
}

nav a + a {
  margin-left: 2em;
  font-weight: bold;
  color: #4fc98a;
}

/* low header */

.low-header {
  background-color: #92DCB5;
  padding: 1em 0;
}

.low-header a {
  color: #444;
  font-size: 16px;
}

.low-header a:hover {
  color: #777
}

.low-header a + a {
  margin-left: 2em;
}

/* cards */

.promotions h1, .more-selled h1 {
  margin: 3% 0;
  color: #444;
  margin-left: 10%;
  max-width: 80%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 280px;
  margin: auto;
  text-align: center;
  padding: 2em 0;
  position: relative;
}

.price {
  color: #47C55E;
  font-size: 36px;
  position: absolute;
  top: 78%;
  text-align: center;
  left: 15%;
  font-weight: bold;
}

.item-name {
  position: absolute;
  font-size: 16px;
  color: #0781D7;
  left: 15%;
  top: 50%;
}

.item-promotion {
  color: #DC3545;
  font-size: 18px;
  position: absolute;
  text-decoration: line-through;
  left: 15%;
  top: 65%;
}

.cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  justify-items: center;
}

.cards-container {
  max-width: 83%;
  margin: 0 auto;
}

.more-selled .cards {
  margin-bottom: 5em;
}

/* footer */

footer {
  width: 100%;
  height: 20em;
  background-color: #92DCB5;
}

footer a {
  color: #444;
  font-size: 14px;
  margin-left: 1em;
}

footer a:hover {
  color: #777;
}

.footer-container {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

footer .footer-contacts {
  display: flex;
}

footer .footer-contacts:nth-child(2) {
  margin-top: 2em;
}

footer .footer-contacts:last-child {
  margin-top: 2em;
}

.credits {
  height: 4em;
  width: 100%;
  background-color: #0781D7;
}

.credits p {
  color: #fff;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

footer img:last-child {
  position: relative;
  left: 67%;
  width: 20em;
}

@media (max-width: 1350px;) {

}